:host {
  display: block;
  position: relative;
  height: 20px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px lightblue;
  padding: 5px;
}

div.task-info {
  display: inline-block;
}

div.task-info.label {
  max-width:150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float:left;
}

div.task-info.timer {
  position: absolute;
  right: 30px;
}

.button {
  float: right;
}

.button i {
  position: relative;
  top: 2px;
}
